 div:nth-child(1) {
    background: blue;
    height:200px;
    width:200px;
    box-sizing: border-box;
    background-attachment: scroll;
  }
 /* tr:nth-child(4){
  background: rgb(35, 172, 127) ;
 } */
